body {
  font-family: "Montserrat Alternates", sans-serif;
}
.nav-head {
  height: 10vh;
  background: red;
}
.sticky {
  position: sticky;
  top: 90px;
}
.stories {
  overflow-y: auto;
  height: 34vh;
}
.posts {
  /* overflow-y: auto; */
  /* height: 100vh; */
}
.navbar-brand {
  font-size: 40px;
  font-family: "Pacifico", cursive;
}
.link-in-black {
  color: black;
}
.link-in-primary {
  color: #0275db;
}
.smaller-font {
  font-size: 12px;
}
.nav-color {
  background: rgba(190, 200, 255, 0.4);
}
.posts-margin-top {
  margin-top: 100px;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(238, 255, 255, 0.8);
  -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(206, 255, 255, 0.8);
  -webkit-box-shadow: inset 0 0 6px rgba(200, 200, 200, 0.8);
}

.stories-margin-top {
  margin-top: 80px;
}
.big-font-size {
  font-size: 25px;
}
.btn-color {
  background: rgb(219, 213, 213);
}
.small-font-size {
  font-size: 16px;
}
.samllest-font-size {
  font-size: 12px;
}
