body {
  font-family: "Montserrat Alternates", sans-serif;
}
.nav-head {
  height: 10vh;
  background: red;
}
.sticky {
  position: sticky;
  top: 100px;
}
.stories {
  overflow-y: auto;
  height: 40vh;
}
.posts {
  /* overflow-y: auto; */
  /* height: 100vh; */
}
.navbar-brand {
  font-size: 40px;
  font-family: "Pacifico", cursive;
}
.user-profile-link {
  color: black;
}
